@media only screen and (max-width: 1119px) {
    
}

@media only screen and (max-width: 1023px) {
    
}

@media only screen and (max-width: 767px) {
    .router-view-general {
        margin: 1rem 1rem 0 1rem;
        padding: 0;
        box-shadow: none;
    }

    /* 隐藏图标 */
    .router-view-general .iconfont {
        display: none;
    }

    /* 取消横线 */
    .list .list-item .line {
        display: none;
    }

    /* 登录页输入框 */
    .input > input[type="text"] {
        margin-top: 6rem;
    }

    .input > input {
        width: 90%;
    }

    .list > .list-item > div {
        width: 100%;
    }
}