@media only screen and (max-width: 1119px) {
    #sidebar > .left-bar > .avatar > img {
        height: 8rem;
        width: 8rem;
    }
}

@media only screen and (max-width: 1023px) {
    /* 小头像 */
    #sidebar > .left-bar > .avatar > img {
        height: 5rem;
        width: 5rem;
    }
}

@media only screen and (max-width: 767px) {
    #app > .router-views {
        margin-right: 0;
    }
    .router-view-general {
        margin: 1rem 1rem 0 1rem;
        padding: 0;
        box-shadow: none;
    }

    /* 隐藏图标 */
    .router-view-general .iconfont {
        display: none;
    }

    /* 取消横线 */
    .list .list-item .line {
        display: none;
    }

    /* 登录页输入框 */
    .input > input[type="text"] {
        margin-top: 6rem;
    }

    /* 登录页输入框长度 */
    .input > input {
        width: 90%;
    }

    /* 文章列表换行 */
    .list > .list-item > div {
        width: 100%;
    }

    /* 边栏 */
    /* 隐藏头像 */
    #sidebar > .left-bar > .avatar > img {
        display: none;
    }

    /* 无头像时的边栏按钮移下 */
    .left-bar .bar-item:first-child {
        margin-top: 6rem;
    }

    .left-bar .bar-item:last-child {
        margin-top: 6rem;
    }

    /* 隐藏右边栏 */
    .right-bar {
        display: none;
    }

    /* 最小屏幕合并边栏 */
    .routers > .small-screen {
        display: flex;
    }

    /* admin页 */
    .list-head {
        display: none;
    }

    .list-body > .item-info,
    .list-body > .item-other,
    .list-body > .item-info-other {
        display: none;
    }

    .list-body > .item-head {
        width: 100%;
    }

    .list > .published {
        margin: 1rem 1rem;
    }

    /* 草稿页 */
    .router-views > #draft > .read {
        display: none;
    }
    
    #draft > .write {
        width: 100%
    }

    /* 关于页 */
    #about .left,
    #abour .right {
        display: block;
        width: 100%;
    }

    #about > div {
        margin: 1rem 0 1rem 1rem;
        border-radius: 1rem;
    }

    /* 文章详情页 */
    .router-views #Article {
        margin: 1rem;
    }

    /* marked.js */
    blockquote {
        margin-left: 1rem;
        border-left: .3rem solid #b7c3c1;
    }

    /* 首页 */
    #home .home-title {
        font-size: 2rem;
    }

    /* 开发日志页 */
    .log-items > li {
        border-radius: 1rem;
        font-size: 1.1rem;
    }
    
}