* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ddd;
}

/* 伪类清除浮动 */
.clearfix::after {
    display: block;
    visibility: hidden;
    content: ".";
    clear: both;
    height: 0;
    overflow: hidden;
}

/* 伪类三角形 方向：▲ */
.triangle::after {
    width: 0;
    height: 0;
    border-width: 0 5px 5px;
    border-style: solid;
    border-color: transparent transparent white ;
    position: relative;
    display: block;
    content: "";
    margin-top: 11px;
    margin-left: 10px;
}

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

.router-view-general {
    margin: 10rem 10rem 0 10rem;
    padding: 2rem 0 0 3rem;
    position: relative;
    box-shadow: -0.5rem 0 0.5rem -0.5rem #aaa;
    font-family: Georgia;    
}

.router-title {
    font-family: Georgia;
    font-weight: 400;
    font-size: 1.5rem;
}

.btn-small {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #03a9f4;
    border: none;
    cursor: pointer;
    outline: none;
}

.btn-small:hover {
    background-color: #0070a3;
}

input,
textarea {
    outline: none;
}